@import "tailwindcss";


/* Custom theme colors */

@theme {
    --color-cardeno: #8f07fd;
    --color-fondo-cremita: #f4f3e9;
    --color-mango: #febe0b;
    --color-futura: #ff006f;
    --color-cereza: #cf51fe;
    --color-noche: #040633;
    --color-nevado: #2887f9;
}


/* Poppins Regular as global font */
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* apply a natural box layout model to all elements, and global font */
html {
    box-sizing: border-box;
    font-family: "Poppins", system-ui, -apple-system, Segoe UI, Roboto, Arial,
        "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
    background-color: var(--color-fondo-cremita);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}